extends ../layout

block content
    .reg-box
        
        .header
            h2 OTP
            
        form(action="/auth_reg", method="post")
            .form-group
                
                
                
                input(id= "password" type="hidden" name="password" class="form-control") 
               
               
            
            button(type="submit" class="btn btn-primary" onclick= "generateOTP()") Generar OTP



